/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";


@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

@import "colors";

// If you want to add something do it here
@import "custom";

@import "../../node_modules/ngx-toastr/toastr.css";

.toast-container {
  z-index: 999999999999 !important; /* Set this to a value lower than your modal's z-index */
  position: fixed !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  overflow: visible !important;
}

.mat-form-field-flex {
  align-items: start;
}

.mat-form-field-wrapper {
  padding-bottom: 0.25em;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f6f6f6 !important;
}


.sidebar {
  --cui-sidebar-bg: #fff;
  --cui-sidebar-brand-bg:  #e6e6e7;
  --cui-sidebar-toggler-bg: #e6e6e7;
}

.sidebar-nav .nav-link {
  color: #0d0d0d !important;
}


.sidebar-nav .nav-icon {
  color:  #0d0d0d !important;
}


.sidebar-nav .nav-title {
  color:#0d0d0d !important;
  background-color: #e6e6e7;
  margin-top: 0;
}


.sidebar-nav .nav-link.active {

  background: #ececec;
}