/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

@import "colors";

// If you want to add something do it here
@import "custom";

@import "../../node_modules/ngx-toastr/toastr.css";

.toast-container {
  z-index: 999999999999 !important; /* Set this to a value lower than your modal's z-index */
  position: fixed !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  overflow: visible !important;
}
// Email component

.email-component-style {
  background: white;
  z-index: 9999999;
  height: 100%;

  width: 100%;
  padding: 30px;
}

.email-form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  max-width: 500px; /* or the width you prefer */
  margin: auto;
}

.email-input-container {
  position: relative;
  margin-bottom: 1rem;
}

.email-input {
  width: 100%;
  min-height: 300px;
  background-color: white;
  color: black !important;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.email-error {
  position: absolute;
  bottom: -20px; /* Adjust this value to display the error below the input field */
  left: 0;
  width: 100%;
  color: #d32f2f; /* Material design error color */
  font-size: 0.75rem; /* Material design error font size */
}

.send-emails-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #1976d2; /* Material design primary color */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-emails-button:hover {
  background-color: #1565c0; /* A darker shade of primary color for hover state */
}

.mat-form-field-flex {
  align-items: start;
}

.mat-form-field-wrapper {
  padding-bottom: 0.25em;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f6f6f6 !important;
}

.send-emails-button:disabled {
    color: rgba(0, 0, 0, 0.38); /* Màu chữ nhạt hơn */
    background-color: rgba(0, 0, 0, 0.12); /* Màu nền nhạt hơn */
    cursor: not-allowed; /* Thay đổi con trỏ để người dùng biết không thể nhấp */
  }
  

  


  