.page {
  display: flex;
  flex-direction: column;
}

.question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 20px; /* Adjust size as needed */
  color: #777; /* Adjust color as needed */
}

.control-btn:hover {
  color: #333; /* Darker color on hover */
}

/* You might need to adjust the selector's padding, margin, and sizes */
app-survey-selector {
  flex-grow: 1;
  /* Add padding and margin as necessary */
}

.additional-controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.additional-controls button.add-question {
  width: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.additional-controls button.send-email {
  width: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}


app-survey-selector {
  margin: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.survey-title {
  align-items: center;
  background-color: white;
  border: 1px solid #DFDFDF;
  text-decoration: underline;
  margin-right: 70px;
  border-radius: 12px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 8px 12px;
  text-decoration: none;
  touch-action: manipulation;
  width: 30%;
  font-weight: 500;
  cursor: pointer;
}

.additional-controls button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 22px;
  max-width: 480px;
  min-height: 45px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.additional-controls:hover button,
.additional-controls:focus button { 
  background-color: #16437E;
  color: #ffffff;
}

.additional-controls:active button {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.additional-controls:disabled button{ 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.modal-delete-header {
  background-color: #f2f2f2;
  padding: 16px;
  display: flex;
  justify-content: space-between; /* This will place the elements on each end */
  align-items: center; /* This centers the items vertically */
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  flex: 1; /* This will allow the title to take up the available space */
  text-align: center;
  font-size: 20px;
  color: #333;
  margin: 0; /* Removes default margins that could affect alignment */
}

/* Add this if the button is not already a flex item */
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal body styling */
.modal-delete-body {
  height: 100px;
  padding: 20px;
  line-height: 1.6;
  font-size: 16px;
}

/* User detail paragraphs */
.modal-delete-body p {
  color: #555;
  margin-bottom: 10px;
}

/* Modal footer styling */
.modal-delete-footer {
  background-color: #f2f2f2;
  padding: 12px 16px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/* Buttons in the footer */
.modal-delete-footer button {
  padding: 8px 16px;
  background-color: #0A66C2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0056b3;
}

