@import "../../../scss/colors.scss";

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 8px;
}
.table th,
.table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Button styles */

.btn-action {
  border-radius: 6px;
  display: inline-block;
  border-style: none;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  background-color: $main_color_3;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
  padding: 0 50px 0 50px;
}

.btn-management {
  display: inline-block;
  border-style: none;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  background-color: $main_color_3;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.group-button-management button {
  background-color: $main_color_3;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

c-button-group button:hover {
  background-color: $main_color_4;
}

.action-management {
  border-radius: 5px;
  background-color: $main_color_3;
  background-image: linear-gradient(1deg, $main_color_2, $main_color_3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  padding: 8px 16px;
  margin-top: 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.action-management:active,
.action-management:focus {
  outline: none;
}

.action-management:hover {
  background-position: -20px -20px;
}

.action-management:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

c-modal-footer button {
  border-radius: 5px;
  background-color: $main_color_2;
  background-image: linear-gradient(1deg, $main_color_2, $main_color_3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 14px;
  height: auto;
  justify-content: center;
  padding: 8px 16px;
  margin-top: 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  border-style: none;
}

.btn-border-right {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.btn-border-left {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.btn-borderStyle-left {
  border-left: 1px solid $main_color_4 !important;
}

[cDropdownMenu] {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: 99999990 !important;
}

[cDropdownMenu] li {
  padding: 5px 15px;
}

[cDropdownMenu] button[cDropdownItem] {
  color: #333;
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 0;
}

[cDropdownMenu] button[cDropdownItem]:hover {
  background-color: #f8f9fa;
  color: $main_color_4;
}

.form-search-management {
  position: relative;
  background: #fff;
  flex: 1;
}

.input-search-management {
  outline: 0;
  height: 40px;
  border: 1px solid grey;
  color: #000;
  font-size: 14px;
  border-left: none;
  border-right: none;
}
input[type="search"].input-search-management {
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:active {
  transform: scale(0.95);
}


/* General modal styling */
.modal {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2000 !important;
}

/* Modal header styling */
.modal-header {
  background-color: #f2f2f2;
  padding: 16px;
  display: flex;
  justify-content: space-between; /* This will place the elements on each end */
  align-items: center; /* This centers the items vertically */
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  flex: 1; /* This will allow the title to take up the available space */
  text-align: center;
  font-size: 20px;
  color: #333;
  margin: 0; /* Removes default margins that could affect alignment */
}

.button-close {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0; /* Removes default margins that could affect alignment */
  padding: 8px; /* Adds some space for easier clicking */
}

/* Add this if the button is not already a flex item */
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal body styling */
.modal-body {
  padding: 20px;
  line-height: 1.6;
}

/* User detail paragraphs */
.modal-body p {
  color: #555;
  margin-bottom: 10px;
}

/* Modal footer styling */
.modal-footer {
  background-color: #f2f2f2;
  padding: 12px 16px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/* Buttons in the footer */
.modal-footer button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0056b3;
}


/* Modal content grid */
.modal-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

::ng-deep .cdk-overlay-container {
  z-index: 2000 !important;
}