<div class="survey-container">
  <div class="question-container">
    <label for="userQuestion">Your question</label>
    <input
      type="text"
      id="userQuestion"
      placeholder="Type your question here"
      [value]="questionText"
      [disabled]="true"
    />
  </div>
  <p class="config-text-style">Choose your question's type</p>
  <div class="options-container">
    <select (change)="changeType($event)">
      <option value="text">Text</option>
      <option value="graphic">Graphic scale</option>
      <option value="numeric">Numeric scale</option>
    </select>
  </div>

  <div class="content-container">
    <ng-container *ngIf="currentType === 'text'">
      <div class="card rating-card" [class.selected]="selectedOption === 'text'" (click)="selectOption('text')">
        <input type="text" placeholder="Enter your answer" [disabled]="true"/>
        <p>Text</p>
      </div>
    </ng-container>

    <ng-container *ngIf="currentType === 'graphic'">
      <div class="card rating-card" [class.selected]="selectedOption === 'stars'" (click)="selectOption('stars')">
        <div class="stars">★★★★★</div>
        <p>5 stars</p>
      </div>
      <div class="card feedback-card" [class.selected]="selectedOption === 'thumbs'" (click)="selectOption('thumbs')">
        <div class="thumb-rating">
          <div class="thumb-wrapper">
            <c-icon name="cil-thumb-up"></c-icon>
          </div>
          <div class="thumb-wrapper">
            <c-icon name="cil-thumb-down"></c-icon>
          </div>
        </div>
        <p>Thumbs up and down</p>
      </div>

      <div class="card smiley-card"  [class.selected]="selectedOption === 'smileys'" (click)="selectOption('smileys')">
        <div class="emoticon-rating">
          <div class="emoticon-wrapper">
            <c-icon name="cil-mood-very-bad"></c-icon>
          </div>
          <div class="emoticon-wrapper">
            <c-icon name="cil-mood-bad"></c-icon>
          </div>
          <div class="emoticon-wrapper">
            <c-icon name="cil-meh"></c-icon>
          </div>
          <div class="emoticon-wrapper">
            <c-icon name="cil-mood-good"></c-icon>
          </div>
          <div class="emoticon-wrapper">
            <c-icon name="cil-mood-very-good"></c-icon>
          </div>
        </div>
        <p>5 smileys</p>
      </div>
    </ng-container>

    <ng-container *ngIf="currentType === 'numeric'">
      <div class="card csat-card" [class.selected]="selectedOption === 'csat'" (click)="selectOption('csat')">
        <button *ngFor="let score of [1, 2, 3, 4, 5]">
          {{ score }}
        </button>
        <p>CSAT</p>
      </div>

      <div class="card nps-card" [class.selected]="selectedOption === 'nps'" (click)="selectOption('nps')">
        <button *ngFor="let score of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          {{ score }}
        </button>
        <p>NPS</p>
      </div>
    </ng-container>
  </div>
  <div class="save-button-container">
    <button (click)="saveSelection()">Save</button>
  </div>
</div>
