<div class="survey-container">

    <div class="question-container">
        <label for="userQuestion">Your question</label>
        <input type="text" id="userQuestion" placeholder="Type your question here">
    </div>
    
    <!-- Options for Types of Questions -->
    <div class="options-container">
        <select (change)="changeType($event)">
            <option value="text">Text</option>
            <option value="graphic">Graphic scale</option>
            <option value="numeric">Numeric scale</option>
        </select>
    </div>
    
    <!-- Dynamic Content Loading Based on Selection -->
    <div class="content-container">
      <!-- Text Question Input -->
      <ng-container *ngIf="currentType === 'text'">
        <input type="text" placeholder="Enter your question">
      </ng-container>
  
      <!-- Graphic Scale Options -->
      <ng-container *ngIf="currentType === 'graphic'">
        <div class="card rating-card" (click)="selectOption('stars')">
          <div class="stars">★★★★★</div>
          <p>5 stars</p>
        </div>
        <div class="card feedback-card" (click)="selectOption('thumbs')">
          <div class="thumbs">👍👎</div>
          <p>Thumbs up and down</p>
        </div>
        <div class="card smiley-card" (click)="selectOption('smileys')">
          <div class="smileys">😠😕😐🙂😄</div>
          <p>5 smileys</p>
        </div>
      </ng-container>
  
      <!-- Numeric Scale Question -->
      <ng-container *ngIf="currentType === 'numeric'">
        <div class="card smiley-card" (click)="selectOption('smileys')">
            <div class="smileys">😠😕😐🙂😄</div>
            <p>5 smileys</p>
          </div>
      </ng-container>
    </div>
  </div>