.configure-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 80vh; 
  padding: 20px; 
}

.survey-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white !important;
  border-bottom: 2px solid #ccc; /* A subtle bottom border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.question-container {
  margin-bottom: 10px;
}

.question-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

p.config-text-style {
  font-weight: bold;
  margin: 0px 0px 5px !important;
  font-size: 14px !important;
}
.question-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
}

.options-container {
  margin-bottom: 20px;
}

.options-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.card {
  display: inline-block;
  margin: 10px;
  padding: 20px 20px 0px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
}

.survey-type {
  font-size: 16px !important;
  margin-top: 5px;
  font-weight: 400;
}
.card:hover {
  background-color: #f0f0f0;
}

.rating-card,
.feedback-card,
.smiley-card {
  text-align: center;
}

.stars {
  font-size: 28px;
  margin-bottom: 10px;
}

.thumb-wrapper,
.emoticon-wrapper {
  display: inline-block;
  margin-right: 5px;
}

.csat-card button,
.nps-card button {
  margin: 5px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.csat-card button:hover,
.nps-card button:hover {
  background-color: #f0f0f0;
}

input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

input[type="text"]::placeholder {
  color: #888;
}

.survey-container p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.card p {
  color: #555;
  font-size: 14px;
}

.options-container p {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
}

.thumb-wrapper,
.emoticon-wrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center !important;

  margin: 0;
}

.emoticon-rating,
.thumb-rating {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center !important;
  margin: 0;
}
::ng-deep .emoticon-rating .emoticon-wrapper svg.icon.ng-star-inserted {
  width: 40px;
  height: 40px;
  display: inline;
  cursor: pointer;
  transition: transform 0.2s;
}

::ng-deep .emoticon-rating .emoticon-wrapper:nth-child(1) svg.icon.ng-star-inserted {
  color: #932c33 !important; /* Green */
  margin-right: 10px;
}

/* Targeting the second svg icon in each .thumb-wrapper */
::ng-deep .emoticon-rating .emoticon-wrapper:nth-child(2) svg.icon.ng-star-inserted {
  color: #ea3a4d !important; /* Red */
  margin-right: 10px;
}

::ng-deep .emoticon-rating .emoticon-wrapper:nth-child(3) svg.icon.ng-star-inserted {
  color: #eec01b !important; /* Red */
  margin-right: 10px;
}

/* Targeting the second svg icon in each .thumb-wrapper */
::ng-deep .emoticon-rating .emoticon-wrapper:nth-child(4) svg.icon.ng-star-inserted {
  color: #0fc265 !important; /* Red */
  margin-right: 10px;
}

::ng-deep .emoticon-rating .emoticon-wrapper:nth-child(5) svg.icon.ng-star-inserted {
  color: #46b423 !important; /* Green */
}


::ng-deep .thumb-rating .thumb-wrapper svg.icon.ng-star-inserted {
  width: 40px;
  height: 40px;
  display: inline;
  cursor: pointer;
  transition: transform 0.2s;
}

::ng-deep .thumb-rating .thumb-wrapper:nth-child(1) svg.icon.ng-star-inserted {
  color: #46b423 !important; /* Green */
  margin-right: 10px;
}

/* Targeting the second svg icon in each .thumb-wrapper */
::ng-deep .thumb-rating .thumb-wrapper:nth-child(2) svg.icon.ng-star-inserted {
  color: #f00 !important; /* Red */
}

.selected {
  background-color: #f0f0f0;
}

.save-button-container {
  text-align: center;
  margin-top: 20px; 
}

.save-button-container button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.save-button-container button:hover {
  background-color: #0056b3; 
}

.stars {
  margin-top: 10px;
  color: #fecf1b;
}




.save-button-container button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 22px;
  max-width: 480px;
  min-height: 45px;
  min-width: 150px;
  width: 30%;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  
}

.save-button-container:hover button,
.save-button-container:focus button { 
  background-color: #16437E;
  color: #ffffff;
}

.save-button-container:active button {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.save-button-container:disabled button{ 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}