<!-- <mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
    <a routerLink="home">Header, material angular and tailwindcss work!</a>
    <mat-icon>shopping_cart</mat-icon>
</mat-toolbar> -->
<!-- component -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Website</title>
</head>

<body class="bg-gray-100 h-screen font-sans">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="title">
                Tiêu đề Khảo sát
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                id="title" type="text" placeholder="Nhập tiêu đề khảo sát của bạn">
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="description">
                Mô tả
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                id="description" placeholder="Nhập mô tả chi tiết về khảo sát của bạn" rows="4"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded"
                type="button">
                Bắt đầu Khảo sát
            </button>
        </div>
    </div>
</body>

</html>
