<div class="dashboard-container">
  <c-card class="mb-6" [ngStyle]="{ 'max-width.px': 200 }">
    <c-row class="g-0">
      <c-col [md]="6">
        <img [cCardImg] src="./assets/images/dashboard_user.jpg" />
      </c-col>
      <c-card-body cCol [md]="6" class="card-body">
        <p cCardText>User count: {{ userCount }}</p>
      </c-card-body>
    </c-row>
  </c-card>

  <c-card *ngIf="this.currentUser.UserRole == 'SuperAdmin'" class="mb-6" [ngStyle]="{ 'max-width.px': 200 }">
    <c-row class="g-0">
      <c-col [md]="6">
        <img [cCardImg] src="./assets/images/dashboard_company.jpg" />
      </c-col>
      <c-card-body cCol [md]="6" class="card-body">
        <p cCardText>Company count: {{ companyCount }}</p>
      </c-card-body>
    </c-row>
  </c-card>

  <c-card class="mb-6" [ngStyle]="{ 'max-width.px': 200 }">
    <c-row class="g-0">
      <c-col [md]="6">
        <img [cCardImg] src="./assets/images/dashboard_survey.jpg" />
      </c-col>
      <c-card-body cCol [md]="6" class="card-body">
        <p cCardText>Survey count: {{ surveyCount }}</p>
      </c-card-body>
    </c-row>
  </c-card>

  <c-card *ngIf="this.currentUser.UserRole != 'SuperAdmin'" class="mb-6" [ngStyle]="{ 'max-width.px': 200 }">
    <c-row class="g-0">
      <c-col [md]="6">
        <img [cCardImg] src="./assets/images/dashboard_roles.jpg" />
      </c-col>
      <c-card-body cCol [md]="6" class="card-body">
        <p cCardText>Company role count: {{ companyRoleCount }}</p>
      </c-card-body>
    </c-row>
  </c-card>

  <c-card *ngIf="this.currentUser.UserRole != 'SuperAdmin'" class="mb-6" [ngStyle]="{ 'max-width.px': 200 }">
    <c-row class="g-0">
      <c-col [md]="6">
        <img [cCardImg] src="./assets/images/dashboard_customers.jpg" />
      </c-col>
      <c-card-body cCol [md]="6" class="card-body">
        <p cCardText>Customer count: {{ customerCount }}</p>
      </c-card-body>
    </c-row>
  </c-card>
</div>
