:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  width: 100%;
  display: flex;
  align-items: center;
}

c-card {
  border: 0px solid grey !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-right: 20px;
}
