<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-xl-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <!-- FirstName Input -->
              <div class="mb-3">
                <input
                  formControlName="firstName"
                  class="form-control"
                  placeholder="First Name"
                />
                <div
                  *ngIf="
                    registerForm.controls['firstName'].invalid &&
                    registerForm.controls['firstName'].touched
                  "
                  class="text-danger"
                >
                  First Name is required.
                </div>
              </div>
              <!-- LastName Input -->
              <div class="mb-3">
                <input
                  formControlName="lastName"
                  class="form-control"
                  placeholder="Last Name"
                />
                <div
                  *ngIf="
                    registerForm.controls['lastName'].invalid &&
                    registerForm.controls['lastName'].touched
                  "
                  class="text-danger"
                >
                  Last Name is required.
                </div>
              </div>
              <!-- CompanyName Input -->
              <div class="mb-3">
                <input
                  formControlName="companyName"
                  class="form-control"
                  placeholder="Company Name"
                />
                <div
                  *ngIf="
                    registerForm.controls['companyName'].invalid &&
                    registerForm.controls['companyName'].touched
                  "
                  class="text-danger"
                >
                  Company Name is required.
                </div>
              </div>
              <!-- Email Input -->
              <div class="mb-3">
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="Email"
                />
                <div
                  *ngIf="
                    registerForm.controls['email'].invalid &&
                    registerForm.controls['email'].touched
                  "
                  class="text-danger"
                >
                  A valid email is required.
                </div>
              </div>
              <!-- Username Input -->
              <div class="mb-3">
                <input
                  formControlName="username"
                  class="form-control"
                  placeholder="Username"
                />
                <div
                  *ngIf="
                    registerForm.controls['username'].invalid &&
                    registerForm.controls['username'].touched
                  "
                  class="text-danger"
                >
                  Username is required.
                </div>
              </div>
              <!-- Password Input -->
              <div class="mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Password" />
                <div *ngIf="registerForm.get('password')!.touched && registerForm.get('password')!.errors">
                  <div *ngIf="registerForm.get('password')?.errors!['passwordComplexity']" class="text-danger">
                      {{ registerForm.get('password')?.errors!['passwordComplexity'] }}
                  </div>
                </div>
              </div>
              

              <!-- Submit Button -->
              <div class="d-grid">
                <button
                  class="btn btn-signup-color"
                  type="submit"
                  [disabled]="!registerForm.valid"
                >
                  Create Account
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
