<div class="survey-container" *ngIf="survey">
  <ng-container *ngFor="let question of survey?.SurveyQuestions; let i = index">
    <!-- Question Display -->
    <div
      class="question-container"
      *ngIf="currentQuestionIndex === i && !isSurveyCompleted"
    >
      <app-survey-selector
        [surveyId]="survey.SurveyID"
        [questionId]="question.QuestionID"
        [borderTopColor]="survey?.Customizations?.topBarColor || '#2f3c54'"
        [question]="question.QuestionText"
        [title]="survey.Title"
        [selectedSurveyType]="getSurveyTypeName(question.QuestionType)"
        [buttonTextColor]="survey?.Customizations?.buttonTextColor || '#2f3c54'"
        (answerSelected)="handleAnswerSelected($event)"
      ></app-survey-selector>
    </div>
  </ng-container>

  <!-- Display Customer Contact Form -->
  <ng-container *ngIf="currentQuestionIndex === survey.SurveyQuestions.length">
    <app-survey-selector
      [selectedSurveyType]="'customer-contact'"
      [borderTopColor]="survey.Customizations.topBarColor || '#2f3c54'"
      [buttonTextColor]="survey?.Customizations?.buttonTextColor || '#2f3c54'"
    ></app-survey-selector>
  </ng-container>

  <!-- Display Thank You Message -->
  <ng-container
    *ngIf="
      isSurveyCompleted &&
      currentQuestionIndex === survey.SurveyQuestions.length + 1
    "
  >
    <app-survey-selector
      [selectedSurveyType]="'thank-message'"
      [borderTopColor]="survey.Customizations.topBarColor || '#2f3c54'"
      [title]="'Dear Customer'"
    ></app-survey-selector>
  </ng-container>

  <!-- Navigation Buttons -->
  <div class="button-container">
    <button
      (click)="goToPreviousQuestion()"
      *ngIf="currentQuestionIndex > 0 && !isSurveyCompleted"
    >
      Previous
    </button>
    <button
      (click)="goToNextQuestion()"
      *ngIf="currentQuestionIndex < survey.SurveyQuestions.length"
    >
      Next
    </button>
    <button
      (click)="submitSurvey()"
      *ngIf="currentQuestionIndex === survey.SurveyQuestions.length"
    >
      Submit
    </button>
  </div>
</div>
