.survey-container {
  max-width: 70dvw;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
button {
  padding: 10px 15px;
  border: none;
  background-color: #2f3c54; /* Default color, can be overridden */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #243b4a; /* Darken button on hover */
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 562px) {
  .survey-container {
    max-width: 90vw;
  }
}


::ng-deep .icon:not(.icon-c-s):not(.icon-custom-size) {
  width: 3rem !important;
  height: 3rem !important;
  font-size: 3rem !important;
}

.error-message {
  color: #D8000C; /* Red color for errors */
  background-color: #FFD2D2; /* Light red background */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
