<div class="forget-password-container">
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <label for="email"><strong>Enter your email address:</strong></label>
    <input type="email" formControlName="email" id="email" required />
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <p *ngIf="email.errors!['required']">Email is required.</p>
      <p *ngIf="email.errors!['email']">Please enter a valid email.</p>
    </div>
    <button type="submit" [disabled]="!forgetPasswordForm.valid">
      Send Reset Link
    </button>
  </form>
</div>
