<div class="reset-password-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <label for="password">New Password:</label>
      <input type="password" formControlName="password" id="password" required>
      <div *ngIf="resetPasswordForm.get('password')!.errors && resetPasswordForm.get('password')!.touched">
        <p *ngIf="resetPasswordForm.get('password')!.errors!['required']" class="text-danger">
          Password is required and must be at least 6 characters.
        </p>
      </div>
  
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" formControlName="confirmPassword" id="confirmPassword" required>
      <div *ngIf="resetPasswordForm.errors && resetPasswordForm.get('confirmPassword')!.touched">
        <p *ngIf="resetPasswordForm.errors['mismatch']" class="text-danger">
          Passwords must match.
        </p>
      </div>
  
      <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </form>
  </div>
  