
<div class="header">
  <h1>Surveys</h1>
  <button class="create-survey-btn" (click)="navigateToCreateSurvey()">Create survey</button>
</div>

<div class="survey-container">
  <div class="survey-card">
    <c-dropdown>
      <button class="btn-survey ellipsis" cButton cDropdownToggle>&#x2026;</button>
      
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem>Delete</button>
        </li>
        <li>
          <button cDropdownItem>Edit</button>
        </li>
      </ul>
    </c-dropdown>
    <h3>New survey 2023-12-05</h3>
    <div class="description-wrapper">
      <p class="survey-description">This survey is used to get customer satisfied </p>
    </div>
    <p class="survey-status">Unpublished</p>
  </div>
  
  <div class="survey-card">
    <c-dropdown>
      <button class="btn-survey ellipsis" cButton cDropdownToggle>&#x2026;</button>
      
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem>Delete</button>
        </li>
        <li>
          <button cDropdownItem>Edit</button>
        </li>
      </ul>
    </c-dropdown>
    <h3>New survey 2023-12-05</h3>
    <div class="description-wrapper">
      <p class="survey-description">No description</p>
    </div>
    <p class="survey-status">Unpublished</p>
  </div>

  <div class="survey-card">
    <c-dropdown>
      <button class="btn-survey ellipsis" cButton cDropdownToggle>&#x2026;</button>
      
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem>Delete</button>
        </li>
        <li>
          <button cDropdownItem>Edit</button>
        </li>
      </ul>
    </c-dropdown>
    <h3>New survey 2023-12-05</h3>
    <div class="description-wrapper">
      <p class="survey-description">No description</p>
    </div>
    <p class="survey-status">Unpublished</p>
  </div>
  
  <div class="survey-card">
    <c-dropdown>
      <button class="btn-survey ellipsis" cButton cDropdownToggle>&#x2026;</button>
      
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem>Delete</button>
        </li>
        <li>
          <button cDropdownItem>Edit</button>
        </li>
      </ul>
    </c-dropdown>
    <h3>New survey 2023-12-05</h3>
    <div class="description-wrapper">
      <p class="survey-description">No description</p>
    </div>
    <p class="survey-status">Unpublished</p>
  </div>

  <div class="survey-card">
    <c-dropdown>
      <button class="btn-survey ellipsis" cButton cDropdownToggle>&#x2026;</button>
      
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem>Delete</button>
        </li>
        <li>
          <button cDropdownItem>Edit</button>
        </li>
      </ul>
    </c-dropdown>
    <h3>New survey 2023-12-05</h3>
    <div class="description-wrapper">
      <p class="survey-description">No description</p>
    </div>
    <p class="survey-status">Unpublished</p>
  </div>
  
</div>

