.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.header h1 {
  margin: 0;
  color: #333333;
  font-size: 20px;
}

.create-survey-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: 500;
}

.create-survey-btn:hover {
  background-color: #004494;
}

.survey-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; /* Adjusted for equal spacing */
}

.survey-card {
  flex: 0 0 calc(50% - 10px); 
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: calc(50% - 10px);
  height: auto; 
}

.survey-card h3 {
  margin: 0;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
}

.description-wrapper {
  min-height: 120px;
  max-height: 120px; 
  text-overflow: ellipsis; 
  white-space: wrap; 
  margin: 10px 0px;
  overflow: hidden; 
}

.survey-description {
  color: #878E99;
  font-size: 15px;
  margin: 0;
}


.survey-status {
  color: #878E99;
  font-size:  15px;
  position: relative;
  padding-top: 20px; /* Khoảng cách từ nội dung đến đường phân cách */
  margin: 0;
}


.survey-status::after {
  content: "";
  position: absolute;
  left: -20px; /* Đẩy nó ra ngoài bên trái theo padding của survey-card */
  top: 0;
  height: 1px;
  width: calc(100% + 40px); /* Mở rộng chiều rộng để bù đắp cho padding ở cả hai bên */
  background-color: #ddd;
}

.ellipsis {
  position: absolute;
  top: 50%; /* Đặt top ở giữa theo chiều dọc */
  right: 0;
  cursor: pointer;
  font-size: 2em;
  user-select: none;
  transform: translateY(-30%); /* Dịch lên trên để căn giữa theo chiều dọc */
}

.btn-survey {
  background-color: #fff;
  border: none;
}

.btn-survey.ellipsis[cDropdownToggle]::after {
  content: none;
}

ul[cdropdownmenu] {
  background-color: #1f2937; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 4px;
}

ul[cdropdownmenu] li {
  padding: 10px;
}
ul[cdropdownmenu] li button[cdropdownitem] {
  background-color: transparent; 
  border: none;
  color: #fff !important;
  font-size: 16px;
  cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .create-survey-btn {
    margin-top: 10px;
    align-self: flex-end;
  }

  .survey-container {
    flex-direction: column;
    gap: 15px;
  }

  .survey-card {
    max-width: 100%; /* Adjusts max-width for smaller screens */
  }
}
