
<div class="header">
  <h1>Surveys</h1>
  <button class="create-survey-btn" (click)="navigateToCreateSurvey()">Create survey</button>
</div>

<div class="survey-container">
  <div class="survey-card" *ngFor="let survey of surveys$ | async" (click)="navigateToSurveyDetails(survey.SurveyID, $event)">
    <c-dropdown>
      <button class="btn-survey ellipsis" cButton cDropdownToggle>&#x2026;</button>
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem>Delete</button>
        </li>
        <li>
          <button cDropdownItem>Edit</button>
        </li>
      </ul>
    </c-dropdown>
    <h3>{{ survey.Title }}</h3>
    <div class="description-wrapper">
      <p class="survey-description">{{ survey.SurveyDescription || 'No description' }}</p>
    </div>
    <p class="survey-status">{{ survey.SurveyStatus || 'Unpublished' }}</p>
  </div>
</div>
