<div
  class="survey-container"
  [style.--custom-border-top-color]="borderTopColor"
>
  <h3 [ngStyle]="selectedImage ? { 'background-color': '#f6f6f6' } : {}">
    {{ title === "" ? "Dear Customer!" : title }}
  </h3>
  <img
    *ngIf="selectedImage"
    [src]="selectedImage"
    alt="Selected Image"
    class="selected-image"
  />
  <div class="survey-question-container" [ngSwitch]="selectedSurveyType | lowercase">
    <app-nps-survey
      *ngSwitchCase="'nps'"
      [question]="
        question === ''
          ? 'How likely are you to recommend our product/service to a friend or colleague?'
          : question
      "
      [buttonTextColor]="buttonTextColor"
    ></app-nps-survey>

    <app-csat-survey
      *ngSwitchCase="'csat'"
      [question]="
        question === ''
          ? 'How satisfied are you with our product/service?'
          : question
      "
      [buttonTextColor]="buttonTextColor"
    ></app-csat-survey>

    <app-star-rating
      *ngSwitchCase="'stars'"
      [question]="
        question === ''
          ? 'How would you rate our product/service out of five stars?'
          : question
      "
      [buttonTextColor]="buttonTextColor"
    ></app-star-rating>

    <app-emoticon-rating
      *ngSwitchCase="'emoticons'"
      [question]="
        question === ''
          ? 'How does our product/service make you feel?'
          : question
      "
      [buttonTextColor]="buttonTextColor"
    ></app-emoticon-rating>

    <app-thumbs-survey
      *ngSwitchCase="'thumbs'"
      [question]="
        question === ''
          ? 'How does our product/service make you feel?'
          : question
      "
      [buttonTextColor]="buttonTextColor"
    ></app-thumbs-survey>

    <app-text-survey
      *ngSwitchCase="'text'"
      [question]="
        question === ''
          ? 'How does our product/service make you feel?'
          : question
      "
      [buttonTextColor]="buttonTextColor"
    ></app-text-survey>

    <app-thank-you-message
      *ngSwitchCase="'thank-message'"
      [message]="message === '' ? 'Thank you for your response!' : message"
    ></app-thank-you-message>
  </div>
  <div class="powered-by">Powered by MiSurvey</div>
</div>
