<div *ngIf="isLoading">Loading activities...</div>

<div *ngIf="userPermissions$ | async as permissions">
  <div style="flex: 1" *ngIf="!permissions.CanView">
    <p>You not has permissions to view anything!</p>
  </div>
  <div *ngIf="permissions.CanView">
    <div class="d-flex justify-content-start">
      <button *ngIf="permissions.CanExport" class="btn-action">Export Data</button>
    </div>
    <table class="table table-hover table-striped responsive">
      <thead>
        <tr>
          <th>NO</th>
          <th>User ID</th>
          <th>Action</th>
          <th>Description</th>
          <th>Table Name</th>
          <th>Created At</th>
          <th>Company ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ activity.UserID }}</td>
          <td>{{ activity.UserAction }}</td>
          <td>{{ activity.ActivityDescription }}</td>
          <td>{{ activity.TableName }}</td>
          <td>{{ activity.CreatedAt | date }}</td>
          <td>{{ activity.CompanyID != null ? activity.CompanyID : "SuperAdmin" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination" *ngIf="permissions.CanView">
    <button
      class="pagination-button"
      (click)="onPageChangePrevious()"
      [disabled]="currentPage === 1"
    >
      &lt;&lt; Previous
    </button>
    <div
      *ngFor="
        let page of getPaginationRange(currentPage.toString(), totalPages);
        let i = index
      "
      class="page-item"
    >
      <button
        *ngIf="page !== '...'"
        (click)="onPageChange(page)"
        [class.active]="currentPage === page"
      >
        {{ page }}
      </button>
      <span *ngIf="page === '...'">{{ page }}</span>
    </div>
    <button
      class="pagination-button"
      (click)="onPageChangeNext()"
      [disabled]="currentPage === totalPages"
    >
      Next &gt;&gt;
    </button>
  </div>
  
</div>

