.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.header h1 {
  margin: 0;
  color: #333333;
  font-size: 20px;
}

.survey-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; /* Adjusted for equal spacing */
  margin-bottom: 20px;
  margin-top: 20px;
}

.survey-card {
  flex: 0 0 calc(50% - 10px);
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 20px 0px 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: calc(50% - 10px);
  height: auto;
}

.survey-card h3 {
  margin: 0;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.description-wrapper {
  min-height: 120px;
  max-height: 120px;
  text-overflow: ellipsis;
  white-space: wrap;
  margin: 10px 0px;
  overflow: hidden;
}

.survey-description {
  color: #878e99;
  font-size: 15px;
  margin: 0;
}

.ellipsis {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  font-size: 2em;
  user-select: none;
  transform: translateY(-30%);
  background-color: transparent !important;
}

.btn-survey {
  background-color: #fff;
  border: none;
}

.btn-survey.ellipsis[cDropdownToggle]::after {
  content: none;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .survey-container {
    flex-direction: column;
    gap: 15px;
  }

  .survey-card {
    max-width: 100%; /* Adjusts max-width for smaller screens */
  }
}

div.survey-card.ng-star-inserted {
  cursor: pointer;
}

.copy-link {
  color: #0a66c2;
  cursor: pointer;
  text-decoration: none;
}

.status-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.survey-status {
  color: #878e99;
  font-size: 15px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  display: inline-flex;
}

.status-container::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 60px;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}




.invite-label {
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
}

/* Specific styles based on invitation method */
.email-invite {
  background-color: #9b59b6;
}

.link-invite {
  background-color: #004494;
}



.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will create space between select and pagination */
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  margin: 0; /* Resets margin for ul */
  padding-left: 0; /* Resets padding for ul */
}

.page-item {
  margin-right: 5px; /* Space between pagination buttons */
}

.page-link {
  cursor: pointer; /* Ensures it appears clickable */
  background: #0b65c2;
  border: 1px solid transparent;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.page-item.disabled .page-link,
.page-item.active .page-link {
  background: #5a6268; /* Different background for disabled/active */
}

.page-link:hover {
  background: #0056b3; /* Hover state */
}

.search-filters {
  display: flex;
  align-items: center; /* Ensures vertical alignment of all elements */
  gap: 10px; /* Space between elements */
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjusts to full width for better control over children's width */
}

.search-filters input,
.search-filters select,
.search-filters button {
  flex-grow: 1; /* Allows elements to grow and fill the space */
  border: 1px solid #ced4da;
  height: 38px;
  padding: 0 12px;
  border-radius: 4px;
}

.search-filters button {
  flex-grow: 0; /* Prevents the button from growing too large */
  background-color: #0b65c2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-filters button:hover {
  background-color: #0056b3;
}

.total-items {
  width: 100px !important;
  padding: 5px;
}
