.survey-question-container-thumbs {
  text-align: center;
  padding: 20px;
  background-color: #f6f6f6;
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-question-container p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}
.thumb-wrapper {
  padding: 10px;
}
.thumbs-rating .thumb-wrapper {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

::ng-deep .thumbs-rating .thumb-wrapper svg.icon.ng-star-inserted {
  width: 45px;
  height: 45px;
  display: inline;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbs-rating .thumb-wrapper:hover {
  transform: scale(1.1);
}

.thumb-wrapper.selected::after {
  position: relative;
}

.thumb-wrapper {
  position: relative;
  padding: 10px;
}

/* CSS cho icon được chọn với thanh màu xanh dưới */
.thumb-wrapper.selected::after {
  content: ''; 
  position: absolute;
  left: 50%;
  bottom: -10px; 
  transform: translateX(-50%);
  width: 70%; 
  height: 4px; 
  background-color: #0A66C2;
  border-radius: 2px; 
}

.question-styles {
  margin-bottom: 15px;
  font-size: 20px !important;
  font-weight: 400;
  color: #333;
}
