<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4 login-card">
            <div class="card-body text-center">
              <div class="mb-4 text-center">
                <img src="../../../../assets/images/misurvey_logo.png" alt="Logo" class="login-logo">
                <h1>Welcome Back!</h1>
                <p>Please Sign In to continue</p>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                  <custom-input-forms [label]="'Username'" formControlName="username" class="w-100" icon="fa-envelope" placeholder="Enter your username" type="text"></custom-input-forms>
                </div>
                <div class="input-group">
                  <custom-input-forms [label]="'Password'" formControlName="password" class="w-100" icon="fa-lock" placeholder="Password" type="password"></custom-input-forms>
                </div>
                <button type="submit" class="btn btn-login-color btn-block mt-4 w-100 text-light">Login</button>
              </form>
            </div>
          </div>
          <div class="card graphic-card">
            <img src="../../../../assets/images/login_decoration.jpg" alt="Illustration" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
