/* customization-container.component.css */
.customization-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.customization-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.input-group input[type="text"],
.input-group input[type="file"],
.input-group input[type="color"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.color-group {
  display: flex;
  justify-content: space-around;
}

.color-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.color-group input[type="color"] {
  width: calc(100% - 4px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px; /* Adjust height for better color picker appearance */
}

.color-group-item {
  width: 30%;
  min-width: 120px;
}

.preview-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}

button:hover {
  background-color: #003d82;
}

.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.surveyDescriptionText {
  padding-top: 15px;
}

app-survey-selector {
  width: 100%;
}

.input-group select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.input-group select:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-group select option {
  padding: 8px;
  background-color: white;
  color: #333;
}

#logoUpload {
  background-color: #fff;
}


