<div class="customization-container">
  <h2 class="title">Customize appearance</h2>

  <div class="customization-content">
    <div class="input-section">
      <div class="input-group">
        <label for="surveyTitle">Survey title:</label>
        <input
          type="text"
          id="surveyTitle"
          [(ngModel)]="surveyTitle"
          placeholder="3N"
        />
      </div>
      <div class="input-group">
        <label for="logoUpload">Add file (PNG, JPG, GIF):</label>
        <input type="file" id="logoUpload" (change)="onFileSelected($event)" />
        <div class="file-placeholder"></div>
      </div>
      <div class="color-group">
        <div class="color-group-item">
          <label for="topBarColor">Top bar color:</label>
          <input type="color" id="topBarColor" [(ngModel)]="topBarColor" />
        </div>
        <div class="color-group-item">
          <label for="buttonTextColor">Button text color:</label>
          <input
            type="color"
            id="buttonTextColor"
            [(ngModel)]="buttonTextColor"
          />
        </div>
      </div>
    </div>

    <div class="preview-section">
      <app-survey-selector
        [borderTopColor]="topBarColor"
        [question]="surveyTitle"
        [selectedSurveyType]="'nps'"
        [buttonTextColor]="buttonTextColor"
      >
      </app-survey-selector>
    </div>
  </div>
</div>
<button (click)="importPeople()">Next: Import people</button>
