<div class="customization-container">
  <h2 class="title">Customize appearance</h2>

  <div class="customization-content">
    <div class="input-section">
      <div class="input-group">
        <label for="surveyTitle">Survey title:</label>
        <input
          type="text"
          id="surveyTitle"
          [(ngModel)]="surveyTitle"
          placeholder="Your survey title"
        />
      </div>
      <div class="input-group">
        <label for="logoUpload">Add file (PNG, JPG, GIF):</label>
        <input type="file" id="logoUpload" (change)="onFileSelected($event)" />
        <div class="file-placeholder"></div>
      </div>
      <div class="color-group">
        <div class="color-group-item">
          <label for="topBarColor">Top bar color:</label>
          <input type="color" id="topBarColor" [(ngModel)]="topBarColor" />
        </div>
        <div class="color-group-item">
          <label for="buttonTextColor">Button text color:</label>
          <input
            type="color"
            id="buttonTextColor"
            [(ngModel)]="buttonTextColor"
          />
        </div>
      </div>
      <div class="input-group">
        <label class="surveyDescriptionText" for="surveyDescription">Survey description:</label>
        <textarea 
          id="surveyDescription" 
          [(ngModel)]="surveyDescription" 
          placeholder="Describe your survey" 
          rows="4" 
        ></textarea>
      </div>
      
    </div>

    <div class="preview-section">
      <div class="input-group">
        <label for="surveyTypeSelect">Select survey type:</label>
        <select id="surveyTypeSelect" [(ngModel)]="selectedSurveyType">
          <option value="nps">NPS</option>
          <option value="csat">CSAT</option>
          <option value="emoticons">Emoticons</option>
          <option value="stars">Star</option>
          <option value="thumbs">Thumb</option>
          <option value="text">Text</option>
        </select>
      </div>

      <app-survey-selector
        [borderTopColor]="topBarColor"
        [title]="surveyTitle"
        [question]="''"
        [selectedSurveyType]="selectedSurveyType"
        [buttonTextColor]="buttonTextColor"
        [selectedImage]="selectedImage"
      >
      </app-survey-selector>
    </div>
  </div>
</div>
<button (click)="nextToQuestion()">Next</button>
