.survey-question-container-emo {
  text-align: center;
  padding: 20px;
  background-color: #f6f6f6;
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-question-container p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.emoticon-wrapper {
  padding: 10px;
}

.emoticon-rating .emoticon-wrapper {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s;
}

::ng-deep .emoticon-rating .emoticon-wrapper svg.icon.ng-star-inserted {
  width: 45px;
  height: 45px;
  display: inline;
  cursor: pointer;
  transition: transform 0.2s;
}

.emoticon-rating .emoticon-wrapper:hover {
  transform: scale(1.1);
}

/* CSS cho icon được chọn */
.emoticon-wrapper.selected {
  position: relative; /* Cần thiết để thanh ngang được vị trí đúng */
}

.emoticon-wrapper.selected::after {
  content: ''; /* Tạo một phần tử giả để hiển thị thanh ngang */
  position: absolute;
  left: 50%;
  bottom: -10px; /* Điều chỉnh vị trí thanh ngang dưới icon */
  transform: translateX(-50%); /* Căn giữa thanh ngang so với icon */
  width: 70%; /* Chiều rộng của thanh ngang */
  height: 4px; /* Độ dày của thanh ngang */
  background-color: #28a745; /* Màu sắc của thanh ngang */
  border-radius: 2px; /* Làm tròn các góc của thanh ngang */
}

.question-styles {
  margin-bottom: 15px;
  font-size: 20px !important;
  font-weight: 400;
  color: #333;
}
