<div class="survey-question-container-nps">
  <p>{{ question }}</p>
  <div class="nps-buttons">
    <button
      *ngFor="let score of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
      (click)="setScore(score)"
      [ngStyle]="
        npsScore === score
          ? {
              'background-color': buttonTextColor,
              color: 'white',
              'border-color': buttonTextColor
            }
          : {
              'background-color': 'white',
              color: buttonTextColor,
              'border-color': buttonTextColor
            }
      "
    >
      {{ score }}
    </button>
  </div>
</div>
