.survey-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 960px;
    margin: 10px auto;
}

.survey-option {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.survey-option:hover {
    transform: translateY(-5px); 
}

.survey-option h3 {
    margin: 10px 0;
    font-size: 20px;
}

.survey-option p {
    color: #555;
    font-size: 14px; 
}


.most-popular {
    position: relative;
}

.most-popular::before {
    content: 'MOST POPULAR';
    background-color: #ffcc00;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.survey-icon {
    font-size: 35px;
    margin-bottom: 10px;
}