<app-loading *ngIf="isLoading$ | async"></app-loading>
<div *ngIf="currentUserRole === 'SuperAdmin'">
  <div *ngIf="userPermissions$ | async as permissions">
    <div class="d-flex justify-content-start">
      <button
        *ngIf="permissions.CanAdd"
        class="btn-action me-2"
        [cModalToggle]="addCompanyModal.id"
      >
        Create a new company
      </button>
      <button
        *ngIf="permissions.CanExport"
        class="btn-action"
        (click)="exportToPdf()"
      >
        Export Data
      </button>
    </div>
    <div style="flex: 1" *ngIf="!permissions.CanView">
      <p>You not has permissions to view anything!</p>
    </div>
    <div *ngIf="permissions.CanView" class="input-group mb-3">
      <div class="input-group-prepend">
        <c-dropdown>
          <button class="btn-management" cButton cDropdownToggle>Filter</button>
          <ul cDropdownMenu>
            <li>
              <button cDropdownItem (click)="setFilterType('name')">
                Name
              </button>
            </li>
            <li>
              <button cDropdownItem (click)="setFilterType('domain')">
                Domain
              </button>
            </li>
          </ul>
        </c-dropdown>
      </div>
      <input
        type="search"
        class="form-control"
        [(ngModel)]="searchText"
        placeholder="Enter search text..."
        (keyup.enter)="applyFilters()"
      />
      <c-button-group class="group-button-management" role="group">
        <button
          cButton
          (click)="applyFilters()"
          class="input-search-management"
        >
          Search
        </button>
        <button
          class="btn-border-right btn-borderStyle-left"
          cButton
          (click)="refreshData()"
        >
          Refresh
        </button>
      </c-button-group>
    </div>

    <table
      class="table"
      [hover]="true"
      [responsive]="true"
      [striped]="true"
      cTable
      class="mb-0 border"
      *ngIf="permissions.CanView"
    >
      <thead cTableColor="default">
        <tr>
          <th scope="col">NO</th>
          <th scope="col">Logo</th>
          <th scope="col">Company Name</th>
          <th scope="col">Company Domain</th>
          <th scope="col">AdminID</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the companies array using the *ngFor directive -->
        <tr *ngFor="let company of filteredCompanies$ | async; let i = index">
          <td scope="row">{{ i + 1 }}</td>
          <td>
            <c-avatar
              size="md"
              [src]="
                company.CompanyLogo != null
                  ? company.CompanyLogo
                  : './assets/images/company_avt_default.png'
              "
            ></c-avatar>
          </td>

          <td>{{ company.CompanyName }}</td>
          <td>{{ company.CompanyDomain }}</td>
          <td>{{ company.AdminID }}</td>
          <td>
            <c-dropdown class="d-flex justify-content-center">
              <span class="action-management" cButton cDropdownToggle> </span>
              <ul cDropdownMenu>
                <li
                  *ngIf="
                    company.CompanyID !== undefined && permissions.CanViewData
                  "
                >
                  <button
                    cDropdownItem
                    (click)="viewCompany(company.CompanyID)"
                  >
                    View
                  </button>
                </li>
                <li
                  *ngIf="
                    company.CompanyID !== undefined && permissions.CanUpdate
                  "
                >
                  <button
                    cDropdownItem
                    (click)="editCompany(company.CompanyID)"
                  >
                    Edit
                  </button>
                </li>
                <li *ngIf="permissions.CanDelete">
                  <button
                    cDropdownItem
                    (click)="openDeleteCompanyModal(company.CompanyID)"
                  >
                    Delete
                  </button>
                </li>
              </ul>
            </c-dropdown>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- phân trang -->
    <div class="pagination-controls">
      <select
        [(ngModel)]="itemsPerPage"
        (ngModelChange)="updatePagination()"
        class="form-control total-items"
      >
        <option value="5">5 per page</option>
        <option value="10">10 per page</option>
        <option value="20">20 per page</option>
      </select>

      <!-- Pagination controls -->
      <nav  *ngIf="currentUserRole === 'SuperAdmin'" aria-label="Page navigation" >
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button
              class="page-link"
              (click)="setPage(currentPage - 1); $event.preventDefault()"
            >
              Previous
            </button>
          </li>
          <li
            class="page-item"
            [class.active]="currentPage === page"
            *ngFor="let page of pages"
          >
            <button
              class="page-link"
              (click)="setPage(page); $event.preventDefault()"
            >
              {{ page }}
            </button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === pages.length">
            <button
              class="page-link"
              (click)="setPage(currentPage + 1); $event.preventDefault()"
            >
              Next
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Modal -->

  <!-- View Company Modal -->
  <c-modal
    size="lg"
    [scrollable]="true"
    alignment="center"
    #viewCompanyModal
    id="viewCompanyModal"
    scrollable
  >
    <c-modal-header>
      <h5 cModalTitle>View Company Details</h5>
      <button
        class="btn-close"
        [cModalToggle]="viewCompanyModal.id"
        cButtonClose
      ></button>
    </c-modal-header>
    <c-modal-body>
      <div
        class="modal-content-grid"
        *ngIf="selectedCompany$ | async as selectedCompany"
      >
        <div class="company-details">
          <ng-container>
            <p>Company Name: {{ selectedCompany.CompanyName }}</p>
            <p>Company Domain: {{ selectedCompany.CompanyDomain }}</p>
            <p>Admin ID: {{ selectedCompany.AdminID }}</p>
          </ng-container>
        </div>
        <div class="date-details">
          <mat-form-field appearance="fill">
            <mat-label>Created At</mat-label>
            <input
              matInput
              [matDatepicker]="createdAtPicker"
              [value]="selectedCompany.CreatedAt | date : 'yyyy-MM-dd'"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="createdAtPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #createdAtPicker disabled></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </c-modal-body>
  </c-modal>

  <!-- Delete Company Modal -->
  <c-modal
    size="lg"
    [scrollable]="true"
    alignment="center"
    #deleteCompanyModal
    id="deleteCompanyModal"
    scrollable
  >
    <c-modal-header>
      <h5 cModalTitle>Confirm Company Deletion</h5>
      <button
        class="btn-close"
        [cModalToggle]="deleteCompanyModal.id"
        cButtonClose
      ></button>
    </c-modal-header>
    <c-modal-body>
      Are you sure you want to delete this company? This action cannot be
      undone.
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="deleteCompanyModal.id" cButton color="secondary">
        Cancel
      </button>
      <button cButton color="danger" (click)="deleteCompany()">Delete</button>
    </c-modal-footer>
  </c-modal>

  <c-modal
    size="lg"
    [scrollable]="true"
    alignment="center"
    #addCompanyModal
    id="addCompanyModal"
  >
    <c-modal-header>
      <h5 cModalTitle>Add New Company</h5>
      <button
        class="btn-close"
        type="button"
        cButtonClose
        [cModalToggle]="addCompanyModal.id"
      ></button>
    </c-modal-header>
    <c-modal-body>
      <form [formGroup]="addCompanyForm">
        <div class="mb-3">
          <label for="companyName" class="form-label">Company Name</label>
          <input
            type="text"
            class="form-control"
            id="companyName"
            formControlName="CompanyName"
            placeholder="Company Name"
          />
        </div>
        <div class="mb-3">
          <label for="companyDomain" class="form-label">Company Domain</label>
          <input
            type="text"
            class="form-control"
            id="companyDomain"
            formControlName="CompanyDomain"
            placeholder="Company Domain"
          />
        </div>
        <div class="mb-3">
          <label for="adminID" class="form-label">Admin ID</label>
          <input
            type="text"
            class="form-control"
            id="adminID"
            formControlName="AdminID"
            placeholder="Admin ID"
          />
        </div>
      </form>
    </c-modal-body>
    <c-modal-footer>
      <button type="button" cButton [cModalToggle]="addCompanyModal.id">
        Close
      </button>
      <button type="button" cButton (click)="createCompany()">
        Save Company
      </button>
    </c-modal-footer>
  </c-modal>
</div>

<div class="admin-company" *ngIf="userPermissions$ | async as permissions">
  <div style="flex: 1" *ngIf="!permissions.CanView">
    <p>You not has permissions to view anything!</p>
  </div>
  <div
    *ngIf="currentUserRole === 'Admin' || currentUserRole === 'Supervisor'"
    class="admin-company-container"
  >
    <div
      class="admin-company-content"
      *ngIf="adminCompany$ | async as adminCompany"
    >
      <div class="admin-company-info">
        <p><strong>Company Name:</strong> {{ adminCompany.CompanyName }}</p>
        <p><strong>Company Domain:</strong> {{ adminCompany.CompanyDomain }}</p>
        <p><strong>Admin ID:</strong> {{ adminCompany.AdminID }}</p>
        <button
          class="update-btn"
          (click)="editCompany(adminCompany.CompanyID!)"
        >
          Update company's information
        </button>
      </div>
      <div class="admin-company-header">
        <img
          class="company-logo"
          [src]="
            (adminCompany$ | async)?.CompanyLogo ||
            './assets/images/company_avt_default.png'
          "
          alt="Company Logo"
        />
      </div>
    </div>
  </div>
</div>

<!-- Edit Company Modal -->
<c-modal
  size="lg"
  [scrollable]="true"
  alignment="center"
  #editCompanyModal
  id="editCompanyModal"
  scrollable
>
  <c-modal-header>
    <h5 cModalTitle>Edit Company Details</h5>
    <button
      class="btn-close"
      [cModalToggle]="editCompanyModal.id"
      cButtonClose
    ></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="editCompanyFormGroup">
      <div class="mb-3">
        <label for="editCompanyName" class="form-label">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="editCompanyname"
          formControlName="CompanyName"
          placeholder="Company Name"
        />
      </div>
      <div class="mb-3">
        <label for="editCompanyDomain" class="form-label">Company Domain</label>
        <input
          type="text"
          class="form-control"
          id="editCompanyDomain"
          formControlName="CompanyDomain"
          placeholder="Company Domain"
        />
      </div>
      <div class="mb-3">
        <label for="editCompanyLogo" class="form-label">Company Logo</label>
        <input
          type="file"
          class="form-control"
          id="editCompanyLogo"
          (change)="onLogoChange($event)"
        />
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="editCompanyModal.id" cButton color="secondary">
      Cancel
    </button>
    <button cButton color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </c-modal-footer>
</c-modal>
